@import 'colors';
@import 'fonts'; 
@import 'views';
@import 'components';

body {
    margin: 0;
    overflow: hidden;
}

#app {
    position: relative;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    .modal-enter-active, .modal-leave-active {
        .modal {
            transition: all .3s;
        }
        transition: all .3s;
    }
    .modal-enter, .modal-leave-to {
        .modal {
            transform: scale(0.7);
        }
        opacity: 0;
    }
}