<template>
    <div>
        <div :class="{'infos': true, 'second__color': $store.getters.getApi == 'prisma'}">
            <div :class="{'input__case': true, 'error': errorfirstname}"> <input autocomplete="off" type="firstname" placeholder="Prénom" v-model="firstname"> </div>
            <div :class="{'input__case': true, 'error': errorlastname}"> <input autocomplete="off" type="lastname" placeholder="Nom" v-model="lastname"> </div>
            <div :class="{'input__case': true, 'error': errormail}"> <input autocomplete="off" type="mail" placeholder="E-mail" v-model="mail"> </div>
            <div :class="{'input__case': true, 'error': errorphone}"> <input autocomplete="off" type="phone" placeholder="Téléphone" v-model="phone"> </div>
            <div class="valid--btn" @click="saveMe"> Confirmer </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import store from "../../store";

export default {
    data() {
        return {
            firstname: '',
            lastname: '',
            mail: '',
            phone: '',
            errorfirstname: '',
            errorlastname: '',
            errormail: '',
            errorphone: '',
            id: ''
        }
    },
    methods: {
        getMe() {
            if (this.$store.getters.getApi == 'apiplatform') {
                console.log('Test');
            } else {
                axios.defaults.headers.common["Authorization"] = store.getters.getToken;
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_PRISMA_URL,
                    data: {
                        query: `
                            query {
                                me {
                                    first_name
                                    last_name
                                    telephone
                                    email
                                    id
                                }
                            }
                        `
                    }
                })
                .then((data) => {
                    this.firstname = data.data.data.me.first_name;
                    this.lastname = data.data.data.me.last_name;
                    this.mail = data.data.data.me.telephone;
                    this.phone = data.data.data.me.email;
                    this.id = data.data.data.me.id;
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            }
        },
        saveMe() {
            if (this.$store.getters.getApi == 'apiplatform') {
                console.log('Test');
            } else {
                axios.defaults.headers.common["Authorization"] = store.getters.getToken;
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_PRISMA_URL,
                    data: {
                        query: `
                            mutation {
                                updateCustomer(
                                    data : {
                                        first_name: "${this.firstname}"
                                        last_name: "${this.lastname}"
                                        telephone: "${this.mail}"
                                        email: "${this.phone}"
                                    }
                                    where : {
                                        id : "${this.id}"
                                    }
                                ){
                                    first_name
                                }
                            }

                        `
                    }
                })
                .then((data) => {
                    console.log(data);
                   store.commit('changeUsername', data.data.data.updateCustomer.first_name);
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            }
        }
    },
    created() {
        this.getMe()
    }           
}
</script>

<style>

</style>