<template>
    <div class="modal__background" @click="clickOutside">
        <div :class="{'modal modal__signin': true, 'second__color': $store.getters.getApi == 'prisma'}" @click.stop>
            <div class="modal__header">
                <div class="tachesignin1"></div>
                <div class="title"> Connexion </div>
            </div>
            <div class="modal__body">
                <div :class="{'input__case': true, 'error': errormail}"> <input autocomplete="off" type="email" placeholder="E-mail" v-model="mail"> </div>
                <div :class="{'input__case': true, 'error': errorpassword}"> <input autocomplete="off" type="password" placeholder="Mot de passe" v-model="password"> </div>
                <button class="valid--btn" @click="connect"> Valider </button>
            </div>
        </div>
    </div>
</template>

<script>
import store from "../../store";
import axios from 'axios';

export default {
    data() {
        return {
            loading: false,
            mail: "",
            password: "",
            errormail: false,
            errorpassword: false,
        }
    },
    methods: {
        clickOutside() {
            this.$emit('clickOutside');
        },
        connect() {
            if (this.mail.length < 3) {
                this.errormail = true;
            }
            if (this.password.length < 3) {
                this.errorpassword = true;
            }
            setTimeout(() => {                
                this.errormail = false;
                this.errorpassword = false;
            }, 1000)
            if (this.errormail || this.errorpassword ) {
                return;
            }
            this.loading = true;
            if (this.$store.getters.getApi == 'apiplatform') {
                console.log('Connection apiplatform');
            } else {
                axios({
                   method: 'post',
                   url: process.env.VUE_APP_PRISMA_URL,
                   data: {
                       query: `
                           mutation {
                               login(
                                   email: "${this.mail}",
                                   password: "${this.password}"
                               )
                               {
                                   customer {
                                       id
                                       first_name
                                       role
                                   }
                                   token
                               }
                           }`
                   }
               })
               .then((data) => {
                   this.loading = false;
                   console.log(data.data.data);
                   store.commit('changeUsername', data.data.data.login.customer.first_name);
                   store.commit('changeToken', data.data.data.login.token);
                   store.commit('changeRole', data.data.data.login.customer.role);
                    this.$emit('clickOutside');
               })
               .catch((erreur) => {
                   console.log(erreur);
               });
            }
        }
    }
}
</script>