<template>
    <div class="modal__background" @click="clickOutside">
        <div :class="{'modal modal__signin': true, 'second__color': $store.getters.getApi == 'prisma'}" @click.stop>
            <div class="modal__body">
                <div :class="{'input__case': true, 'error': errorfirstname}"> <input autocomplete="off" type="text" placeholder="Prénom" v-model="firstname"> </div>
                <div :class="{'input__case': true, 'error': errorlastname}"> <input autocomplete="off" type="text" placeholder="Nom" v-model="lastname"> </div>
                <div :class="{'input__case': true, 'error': errorbirthday}"> <input autocomplete="off" type="text" placeholder="Date de naissance (aaaa-mm-jj)" v-model="birthday"> </div>
                <div :class="{'input__case': true, 'error': errorphone}"> <input autocomplete="off" type="number" placeholder="Téléphone" v-model="phone"> </div>
                <div :class="{'input__case': true, 'error': errormail}"> <input autocomplete="off" type="email" placeholder="E-mail" v-model="mail"> </div>
                <div :class="{'input__case': true, 'error': errorpassword}"> <input autocomplete="off" type="password" placeholder="Mot de passe" v-model="password"> </div>
                <div :class="{'input__case': true, 'error': errorpassword}"> <input autocomplete="off" type="password" placeholder="Confirmer mot de passe"> </div>
                <button class="valid--btn" @click="create"> <span v-if="!loading"> Valider </span> <span v-else> <i class="fas fa-circle-notch fa-spin"></i> </span> </button>

            </div>
            <div class="modal__header">
                <div class="tachesignin1"></div>
                <div class="title"> Inscription </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            loading: false,
            firstname: "",
            lastname: "",
            birthday: "",
            phone: "",
            mail: "",
            password: "",
            errorfirstname: false,
            errorlastname: false,
            errorbirthday: false,
            errorphone: false,
            errormail: false,
            errorpassword: false,
        }
    },
    methods: {
        clickOutside() {
            this.$emit('clickOutside');
        },
        create() {
            if (this.firstname.length < 3) {
                this.errorfirstname = true;
            }
            if (this.lastname.length < 3) {
                this.errorlastname = true;
            }
            if (this.birthday.length < 3) {
                this.errorbirthday = true;
            }
            if (this.phone.length < 3) {
                this.errorphone = true;
            }
            if (this.mail.length < 3) {
                this.errormail = true;
            }
            if (this.password.length < 3) {
                this.errorpassword = true;
            }
            setTimeout(() => {                
                this.errorfirstname = false;
                this.errorlastname = false;
                this.errorbirthday = false;
                this.errorphone = false;
                this.errormail = false;
                this.errorpassword = false;
            }, 1000)
            if (this.errorfirstname || this.errorlastname || this.errorbirthday || this.errorphone || this.errormail || this.errorpassword ) {
                return;
            }
            this.loading = true;
            if (this.$store.getters.getApi == 'apiplatform') {
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_API_URL + '/customers',
                    data: {
                        firstName: this.firstname,
                        lastName: this.lastname,
                        birthday: this.birthday + 'T00:00:00.000Z',
                        telephone: this.phone,
                        email: this.mail,
                        password: this.password,
                        created: true
                    }
                })
                .then(() => {
                    this.loading = false;
                    this.$emit('signupFinished');
                })
                .catch((erreur) => {
                    this.loading = false;
                    console.log(erreur);
                });
            } else {
                axios({
                   method: 'post',
                   url: process.env.VUE_APP_PRISMA_URL,
                   data: {
                       query: `
                           mutation {
                               signup(
                                   first_name: "${this.firstname}",
                                   last_name: "${this.lastname}",
                                   birthday: "${this.birthday}",
                                   telephone: "${this.phone}",
                                   email: "${this.mail}",
                                   password: "${this.password}"
                                   created: true
                               )
                               {
                                   customer {
                                       id
                                   }
                                   token
                               }
                           }`
                   }
               })
               .then(() => {
                   this.loading = false;
                   this.$emit('signupFinished');
               })
               .catch((erreur) => {
                   console.log(erreur);
               });
            }
        }
    }
}
</script>