.basket {
    z-index: 10;
    position: fixed;
    padding: 0 10px 10px;
    background: white;
    bottom: 0;
    width: calc(100% - 20px);
    transition: all 0.5s ease;
    &.full__screen__basket {
        .block {
            &::before {
                background:red;
                content:"";
                display:block;
                height:20px;
                position:absolute;
                width: 100%;
                top: -20px;
                left: 0;
            }
            height: calc(100vh - 110px);
            .confirm {
                width: calc(100vw - 40px);
            }
        }
    }
    &.hide {
        transform: translateY(250px);
    }
    .block {
        position: relative;
        border-radius: 20px;
        height: 200px;
        width: 100%;
        background: $primary;
        transition: background .5s ease, all .3s ease;
        white-space: nowrap;
        overflow-x: auto;
        &.second__color {
            background: $second;
        }
        &::-webkit-scrollbar {
            height: 0;
        }
        .basket-transition-enter-active,
        .basket-transition-leave-active {
            position: absolute;
            .right {
                transition: all .3s ease;
            }
            .left {
                transition: all .3s ease;
            }
        }
        .basket-transition-enter,
        .basket-transition-leave-to {
            .right {
                transform: translateY(20px);
                opacity: 0;
            }
            .left {
                transform: translateY(-20px);
                opacity: 0;
            }
        }
        .basket-transition-move {
            transition: transform 0.3s;
        }
        &.second__color {
            background: $second;
        }
        .confirm {
            position: fixed;
            right: 10px;
            bottom: 10px;
            background: #fff;
            margin: 10px;
            height: 180px;
            width: 180px;
            border-radius: 20px;
            text-align: center;
            line-height: 190px;
            z-index: 10;
            font-family: 'Roboto';
            font-size: 22px;
            font-family: 'Kanit';
            color: $primary;
            transition: all .5s ease;
            cursor: pointer;
            &.second__color {
                color: $second;
            }
            &>span {
                position: absolute;
                width: 100%;
                left: 0;
                &:first-child {
                    opacity: 1;
                    transition: all .5s ease;
                }
                &:last-child {
                    opacity: 0;
                    transition: all .5s ease;
                }
            }
            &:hover {
                width: calc(100vw - 40px);
                &>span:first-child {
                    opacity: 0;
                }
                &>span:last-child {
                    opacity: 1;
                }
            }
        }
    }
}