.card__restaurant {
    display: inline-flex;
    align-items: start;
    height: 250px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    margin: 0 20px 0 135px;
    white-space: initial;
    transition: width .5s ease, height .5s ease, margin .5s ease;
    &:last-child {
        margin: 0 2000px 0 135px;
    }
    &.full__screen__restaurant {
        width: calc(100vw - 40px);
        height: calc(100vh - 140px);
        margin: 0 20px 0 20px;
        &.basket__open {
            height: calc(100vh - 340px);
        }
        &>.left {
            img {
                left: 80px;
                width: 350px;
            }
        }
        &>.right {
            margin-left: -70px;
            margin-top: 400px;
            margin-right: 30px;
        }
        .list__items,
        .list__menus {
            transition: width .5s ease;
            width: calc(100vw - 500px);
            &>div {
                transition: all .5s ease .3s;
                opacity: 1;
                transform: translateY(0);
                overflow-y: auto;
                &::-webkit-scrollbar
                {
                    width: 12px;
                }
            }
        }
    }
    &.loading {
        &>.left {
            .circle {
                position: absolute;
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                border-radius: 200px;
                height: 200px;
                width: 200px;
                left: -65px;
                top: 20px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
        }
        &>.right {
            &>.title {  
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                width: 150px;
                height: 20px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
            &>.description {
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                width: 100%;
                height: 160px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
        }
        @keyframes skeletonAnimation {
            from {
                background-position: 100% 0%;
            }
            to {
                background-position: -100% 0%;
            }
        }
    }
    &>.left {
        position: relative;
        width: 150px;
        min-height: 225px;
        // background:  rgb(255,0,0);
        img {
            width: 200px;
            position: absolute;
            left: -65px;
            top: 20px;
            transition:  all .5s ease, transform .1s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &>.right {
        width: 310px;
        padding: 20px;
        transition:  all .5s ease;
        text-align: center;
        &>.title {
            font-family: 'Kanit';
            font-size: 28px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }   
        .description {
            font-family: 'Roboto';
            color: #555;
            letter-spacing: 1px;
        }
    }
    .list__restaurants {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .list__items,
    .list__menus {
        overflow: hidden;
        width: 0;
        transition: all .5s ease;
        &>div {
            opacity: 0;
            overflow: hidden;
            transform: translateY(400px);
            transition: all .5s ease, transform .5s ease .5s;
            height: 100%;
            width: calc(100vw - 500px);
            &::-webkit-scrollbar-track
            {
                border-radius: 10px;
                background-color: #fff;
            }
            
            &::-webkit-scrollbar
            {
                width: 0px;
                background-color: #fff;
                transition: width .5s ease;
            }
            
            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                background-color: #555;
            }
            .card__item,
            .card__menu {
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .list__menus {
        margin-bottom: 20px;
    }
}