.card__basket {
    position: relative;
    flex-direction: column;
    display: inline-flex;
    align-items: start;
    height: 200px;
    border-radius: 10px;
    width: 200px;
    margin: 0 20px;
    white-space: initial;
    transition: width .5s ease, height .5s ease;
    &:last-child {
        margin-right: 230px;
    }
    .left {
        width: 100%;
        display: flex;
        position: relative;
        cursor: pointer;
        img {
            height: 160px;
            position: relative;
            left: 0;
            top: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 10;
            transition: opacity .3s ease;
        }
        .cancel {
            color: #e74c3c;  
            position: absolute; 
            font-size: 160px;
            opacity: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: opacity .3s ease;
        }
    }
    .right {
        width: 100%;
        display: flex;
        padding: 0;
        transition:  all .5s ease;
        &>.title {
            width: 100%;
            font-size: 22px;
            font-family: 'Kanit';
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
            color: #fff;
        }
    }
    &:hover {
        .left {
            img {
                opacity: 0;
            }
            .cancel {
                opacity: 1;
            }
        }
    }
}