.card__menu {
    position: relative;
    display: inline-flex;
    align-items: start;
    height: 220px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    margin: 0 20px 0 135px;
    white-space: initial;
    transition: width .5s ease, height .5s ease, margin .5s ease;
    &.loading {
        &>.left {
            .circle {
                position: absolute;
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                border-radius: 200px;
                height: 200px;
                width: 200px;
                left: -65px;
                top: 20px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
        }
        &>.right {
            &>.title {  
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                width: 150px;
                height: 20px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
            &>.description {
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                width: 100%;
                height: 160px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
        }
        @keyframes skeletonAnimation {
            from {
                background-position: 100% 0%;
            }
            to {
                background-position: -100% 0%;
            }
        }
    }
    &>.left {
        position: relative;
        width: 150px;
        min-height: 225px;
        // background:  rgb(255,0,0);
        img {
            width: 200px;
            position: absolute;
            left: -65px;
            top: 20px;
            transition:  all .5s ease, transform .1s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &>.right {
        width: 310px;
        padding: 20px;
        transition:  all .5s ease;
        text-align: center;
        position: relative;
        &>.title {
            font-family: 'Kanit';
            font-size: 28px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }   
        .description {
            font-family: 'Roboto';
            color: #555;
            letter-spacing: 1px;
        }
    }
    .price {
        position: absolute;
        font-size: 24px;
        right: 5px;
        top: 5px;
        transition: opacity .3s ease;
        font-family: 'Roboto';
        color: $primary;
        text-align: center;
        font-weight: 600;
        transition: all .5s ease;
        &.second__color {
            color: $second;
        }
    }
}