.card__item {
    position: relative;
    flex-direction: column;
    display: inline-flex;
    align-items: start;
    height: 350px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    margin: 0 20px;
    white-space: initial;
    transition: width .5s ease, height .5s ease;
    &.loading {
        .left {
            .circle {
                position: relative;
                left: 0;
                right: 0;
                margin: auto;
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                border-radius: 200px;
                height: 200px;
                width: 200px;
                top: 20px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
        }
        .right {
            margin-top: 50px;
            &>.title {  
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                width: 80%;
                margin: auto;
                height: 20px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
            &>.description {
                background: linear-gradient(90deg, #ddd, #fff, #ddd);
                width: 100%;
                height: 160px;
                animation-name: skeletonAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-timing-function: linear;
                background-size: 200% 100%;
            }
        }
        @keyframes skeletonAnimation {
            from {
                background-position: 100% 0%;
            }
            to {
                background-position: -100% 0%;
            }
        }
    }
    .left {
        width: 100%;
        display: flex;
        position: relative;
        height: 225px;
        img {
            width: 250px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            margin: auto;
            transition:  all .5s ease, transform .1s ease;
            cursor: pointer;
        }
    }
    .right {
        width: 100%;
        display: flex;
        padding: 20px 0;
        transition:  all .5s ease;
        position: relative;
        &>.title {
            width: 100%;
            font-size: 22px;
            font-family: 'Kanit';
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }
        &>.restaurant {
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            top: 50px;
        }
        
    }
    .price {
        position: absolute;
        font-size: 24px;
        right: 5px;
        top: 5px;
        transition: opacity .3s ease;
        font-family: 'Roboto';
        color: $primary;
        text-align: center;
        font-weight: 600;
        transition: all .5s ease;
        &.second__color {
            color: $second;
        }
    }
}