.header {
    z-index: 10;
    position: fixed;
    padding: 10px 10px 0;
    background: white;
    width: calc(100% - 20px);
    top: 0;
    .home__nav {
        position: relative;
        border-radius: 20px;
        height: 500px;
        width: 100%;
        overflow: hidden;
        background: $primary;
        transition: all .3s ease;
        &.second__color {
            background: $second;
            
            .connexion__block {
                .connexion {
                    color:  $second;
                }
            }
        }
        &.displayLittle {
            height: 80px;
            .tache1 {
                opacity: 0;
            }
            .tache2 {
                opacity: 0;
            }
            .toggle {
                top: 20px;
                transform: rotate(90deg);
            }
        }
        .logo {
            position: absolute;
            font-family: 'Merienda';
            top: 0;
            left: 0;
            color: #ffffff;
            font-size: 48px;
            line-height: 80px;
            width: 200px;
            text-align: center;
            font-weight: 700;
            cursor: pointer;
        }
        .menu {
            width: 350px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            overflow: visible;
            height: 80px;
            margin-left: 200px;
            a {
                color: #ffffff;
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
            }
        }
        .connexion__block {
            position: absolute;
            line-height: 80px;
            top: 0;
            right: 0;            
            &>span {
                color: #ffffff;
                font-size: 16px;
                margin-right: 40px;
                cursor: pointer;
            }
            .connexion {
                width: 119px;
                height: 38px;
                overflow: visible;
                background-color: #ffffff;
                border-radius: 50px;
                color: $primary;
                font-weight: 700;
                padding: 10px 24px;
            }
            input[type="checkbox"] {
                position: relative;
                width: 40px;
                height: 20px;
                -webkit-appearance: none;
                background: #fff;
                border-radius: 100px;
                outline: none;
                box-shadow: inset 0 0 5px rgba(0,0,0,.2);
                transition: .5s;
                line-height: 80px;
                top: 7px;
                right: 30px;
            
            }
            input:checked[type="checkbox"] {
                background: #fff;
            }
            input[type="checkbox"]::before {
                content: '';
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                background: $second;
                border-radius: 50%;
                box-shadow: 0 2px 5px rgba(0,0,0,.2);
                transform: scale(1.1);
                transition: .5s;
            }
            input:checked[type="checkbox"]::before {
                left: 50%;
                background: $primary;
            }
        }
        .text {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 200px;
            text-align: center;
            font-weight: 700;
            font-size: 70px;
            color: #ffffff;
            &>span {
                font-family: 'Merienda';
            }
        }
        .tache1 {
            position: absolute;
            left: -100px;
            width: 775px;
            height: 585px;
            background-image: url("../img/tache1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: opacity .3s ease;
        }
        .tache2 {
            position: absolute;
            right: -100px;
            width: 713px;
            height: 686px;
            background-image: url("../img/tache2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: opacity .3s ease;
        }
        .toggle {
            position: absolute;
            top: 450px;
            right: 0;
            left: 0;
            margin: auto;
            width: 50px;
            height: 50px;
            text-align: center;
            transform: rotate(270deg);
            font-family: "Quicksand";
            font-size: 50px;
            line-height: 40px;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            transition: all .3s ease;
        }
    }    
}