

.modal__background {
    .modal__signin {
        .modal__header {
            .title {
                color: $second;
                position: absolute;
                top: 30px;
            }
        }
        .tachesignin1 {
            position: absolute;
            top: -270px;
            left: 0px;
            width: 400px;
            height: 400px;
            background-image: url("../img/tachesignin1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .modal__body {
            margin: 160px 50px 0;
            z-index: 100;
            width: 300px;
            .input__case {
                border: 1px solid #fff;
                height: 30px;
                border-radius: 5px;
                margin-bottom: 20px;
                &.error {
                    background: #e74c3c;
                    animation-duration: .3s;
                    animation-name: clignoter;
                    animation-iteration-count: infinite;

                    @keyframes clignoter {
                        0%   { opacity:1; }
                        40%   {opacity:0; }
                        100% { opacity:1; }
                    }
                }
                input {
                    background: none;
                    border: none;
                    color: #fff;
                    font-family: 'Roboto';
                    text-align: center;
                    line-height: 30px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    outline: none;
                    font-size: 18px;
                    &::placeholder {
                        color: #fff;
                        font-weight: 600;
                        font-family: 'Quicksand';
                    }
                }
            }
            .valid--btn {
                background: #fff;
                border: none;
                outline: none;
                color: #e67e22;
                text-align: center;
                font-weight: 600;
                font-family: 'Quicksand';
                font-size: 20px;
                width: calc(100% + 60px);
                border-radius: 5px;
                height: 35px;
                margin: 20px -30px 20px;
            }
        }
    }
}