.modal__background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #00000090;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    .modal {
        margin: auto;
        min-height: 350px;
        min-width: 400px;
        cursor: default;
        background: $second;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        &.second__color {
            background: $primary;
            .modal__header { 
                .title {
                    color: $primary;
                }
            }
            .modal__body {
                .valid--btn {
                    color: $primary;
                }
            }
        }
        .modal__header {
            .title {
                color: #fff;
                left: 0;
                right: 0;
                top: 30px;
                font-family: 'Quicksand';
                font-size: 26px;
                text-align: center;
                font-weight: 500;
            }
        }
    }
}

@import 'modalSignin';
