.home {
    .body {
        position: relative;
        display: flex;
        margin-top: 510px;
        transition: all .3s ease;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 510px);
        &::-webkit-scrollbar-track
        {
            border-radius: 10px;
            background-color: #fff;
        }
        
        &::-webkit-scrollbar
        {
            width: 12px;
            background-color: #fff;
        }
        
        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #555;
        }
        &.scroll {
            margin-top: 90px;
            height: calc(100vh - 90px);
        }
        &.full__screen {
            overflow: hidden;
        }
        .all {
            &>.title {
                position: relative;
                font-family: 'Kanit';
                font-size: 26px;
                margin-bottom: 10px;
                margin-top: 25px;
                transition: transform .5s ease;
                &.hide {
                    transform: translateY(-100px);
                }
            }
        }
        .filtres {
            position: sticky;
            display: flex;
            flex-direction: column;
            width: 260px;
            padding: 20px;
            top: 0px;
            transition: transform .5s ease;
            &.hide__left {
                transform: translateX(-300px);
            }
            &>.title {
                font-family: 'Kanit';
                font-size: 30px;
                margin-bottom: 10px;
            }
            .search {
                width: 100%;
                margin-bottom: 20px;
                input {
                    width: calc(100% - 24px);
                    height: 30px;
                    border-radius: 17px;
                    border: 2px solid #ccc;
                    padding: 0 10px;
                    outline: none;
                    &::placeholder {
                        color: #aaa;
                        opacity: 1;
                        font-family: 'Roboto';
                    }
                }
            }
            .select {
                position: relative;
                margin-top: 20px;
                margin-bottom: 10px;
                &::before {
                    background:#aaa;
                    content:"";
                    display:block;
                    height:1px;
                    position:absolute;
                    width:220px;
                    top: -20px;
                    left: 20px;
                }
                label {
                    display: block;
                    margin-bottom: 10px;
                    color: #555;
                    transition: all .3s ease;
                    cursor: pointer;
                    &:hover {
                        letter-spacing: 1px;
                    }
                    input {
                        margin-right: 10px;
                        margin-left: 30px;
                    }
                }
            }
            .search--button {
                margin-top: 10px;
                position: sticky;
                bottom: 10px;
                height: 34px;
                line-height: 34px;
                background: $primary;
                color: #fff;
                border: none;
                border-radius: 17px;
                cursor: pointer;
                outline: none;
                transition: all .3s ease;
                width: 100%;
                &.second__color {
                    background: $second;
                }
                &:hover {
                    letter-spacing: 2px;
                    width:calc(100% + 20px);
                    margin-left: -10px;
                }
            }
        }
        .block {
            position: relative;
            .fade {
                position: absolute;
                left: 0vw;
                top: 0;
                height: 350px;
                width: 100px;
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                z-index: 1 ;
                opacity: 1;
                transition: all .5s ease;
                &.hide {
                    opacity: 0;
                    left: -500px;
                }
            }
            .fade2 {
                position: absolute;
                right: 0;
                top: 0;
                height: 350px;
                width: 100px;
                background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                z-index: 1 ;
                opacity: 1;
                transition: all .5s ease;
                &.hide {
                    opacity: 0;
                    right: -500px;
                }
            }

            .list {
                position: relative;
                width: calc(100vw - 320px);
                padding: 50px 0;
                white-space: nowrap;
                overflow-y: auto;
                transition: transform .5s ease, width .5s ease;
                transition: all .5s ease;
        
                &::-webkit-scrollbar-track
                {
                    border-radius: 10px;
                    background-color: #fff;
                }
                
                &::-webkit-scrollbar
                {
                    height: 0px;
                    background-color: #fff;
                }
                
                &::-webkit-scrollbar-thumb
                {
                    border-radius: 10px;
                    background-color: #ccc;
                }
                &.full__screen {
                    transform: translate(-300px, -100px);
                    width: 100vw;overflow: hidden;
                }
                &.loading {
                    &::-webkit-scrollbar
                    {
                        height: 0;
                    }
                }
            }
        }
    }
}