<template>
    <div> 
<div class="topnav">
        <a class="active" href="#Customers"><div> <span @click="changeTable('Customers')"> Utilisateurs </span> <span @click="create('Customers')"> + </span></div></a>
        <a href="#Plats"><div> <span @click="changeTable('Items')"> Plats </span> <span @click="create('Items')"> + </span> </div></a>
        <a href="#Menus"><div> <span @click="changeTable('Menus')"> Menus </span> <span @click="create('Menus')"> + </span> </div></a>
        <a href="#Restaurants"><div> <span @click="changeTable('Restaurants')"> Restaurants </span> <span @click="create('Restaurants')"> + </span> </div></a>
        <a href="#Orders"><div> <span @click="changeTable('Orders')"> Commandes </span> <span @click="create('Orders')"> + </span> </div></a>
        <a href="#Payments"><div> <span @click="changeTable('Payments')"> Paiements </span> <span @click="create('Payments')"> + </span> </div></a>
        <a href="#Filters"><div> <span @click="changeTable('Filters')"> Filtres </span> <span @click="create('Filters')"> + </span> </div></a>
</div>        
        <div v-if="tableSelected === 'Restaurants'">
        <table id="restaurantTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Menus</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.created}}</td>
                <td>
                    <li v-for="(i, index) in item.menus" :key="index">{{i.title}} => {{i.price}}€</li>
                </td>
                <td>
                    <li v-for="(j, index) in item.items" :key="index">{{j.title}} => {{j.price}}€</li>
                </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div v-if="tableSelected === 'Menus'">
        <table id="menuTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>restaurants</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price}}</td>
                <td v-for="(i, index) in item.restaurants" :key="index">
                    {{i.name}}
                </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div v-if="tableSelected === 'Customers'">
        <table id="customerTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Birthday</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th>Orders</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                <td>{{item.id}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.telephone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.role}}</td>
                <td>{{item.created}}</td>
                <td>
                    <li v-for="(i, index) in item.orders" :key="index">{{i.title}} => {{i.status}}</li>
                </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div v-if="tableSelected === 'Items'">
        <table id="itemTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Restaurants</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price}}</td>
                <td v-for="(i, index) in item.restaurants" :key="index">
                    {{i.name}}               
                </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div v-if="tableSelected === 'Payments'">
        <table id="paymentTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>CodePayment</th>
                    <th>Order</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                <td>{{item.id}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.status}}</td>
                <td>{{item.type}}</td>
                <td>{{item.codePayment}}</td>
                <td>
                    <li v-for="(i, index) in item.order" :key="index">{{i.title}}</li>
                </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    components: { 

    },
    data() {
        return {
            data: {},
            tableSelected: '',
            createSelected: ''
        }
    },
    methods: {
        create(newCreate) {
            this.createSelected = newCreate
        },
        changeTable(newTable) {
            this.tableSelected = newTable;

            let query = '';
            switch (newTable) {
                case 'Customers':
                    query = 'query { customers { id first_name last_name birthday telephone email password role created } }';
                    break;
                case 'Items':
                    query = 'query { items { id title price restaurants { name } } }';
                    break;
                case 'Menus':
                    query = 'query { menus { id title price restaurants { name } } }';
                    break;
                case 'Restaurants':
                    query = 'query { restaurants { id name description created menus {title price} items {title price} } }';
                    break;
                case 'Orders':
                    query = 'query { orders { id status customer { first_name } } }';
                    break;
                case 'Payments':
                    query = 'query { payments { id amount status type codePayment } }';
                    break;
                case 'Filters':
                    query = 'query { filters { id name items { title } restaurants { name } menus { title } } }';
                    break;
            }


            axios({
                method: 'post',
                url: process.env.VUE_APP_PRISMA_URL,
                data: {
                    query: query
                }
            })
            .then((data) => {
                switch (newTable) { 
                    case 'Customers':
                        this.data = data.data.data.customers;
                        break;
                    case 'Items':
                        this.data = data.data.data.items;
                        break;
                    case 'Menus':
                        this.data = data.data.data.menus;
                        break;
                    case 'Restaurants':
                        this.data = data.data.data.restaurants;
                        break;
                    case 'Orders':
                        this.data = data.data.data.orders;
                        break;
                    case 'Payments':
                        this.data = data.data.data.payments;
                        break;
                    case 'Filters':
                        this.data = data.data.data.filters;
                        break;
                }
            })
            .catch((erreur) => {
                console.log(erreur);
            });
        }
    }
}
</script>

<style>
    table {
  font-family: 'Open Sans', sans-serif;
  width: auto;
  border-collapse: collapse;
  border: 3px solid #44475C;
  margin: 10px 10px 0 10px;
}

table th {
  text-transform: uppercase;
  text-align: left;
  background: #44475C;
  color: #FFF;
  padding: 8px;
  min-width: 30px;
}

table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7D82A8;
}
table td:last-child {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>