<template>
    <div class="home">
        <div class="header">
            <homeNav
                ref="homeNav"
                :scroll="scroll"
                :basketShow="basketShow"
                @clickSignup="clickSignup"
                @clickLogin="clickLogin"
                @changeApi="changeApi"/>
        </div>
        <div :class="{'body': true, 'scroll': scroll || basketShow, 'full__screen': openRestaurantBool}">
            <!-- <div class="title"> Nos Restaurants : </div> -->
            <div :class="{'filtres': true, 'hide__left': openRestaurantBool}">
               <div class="title"> Filtres </div>
               <div class="search"><input type="text" name="search" id="search" v-model="search" placeholder="Recherche" disabled></div>
               
               <!-- <div class="select">
                   <label for="Restaurant"> <input type="checkbox" name="offre" id="Restaurant"> Restaurants </label>
                   <label for="Plat"> <input type="checkbox" name="offre" id="Plat"> Plats </label>
                   <label for="Menu"> <input type="checkbox" name="offre" id="Menu"> Menus </label>
               </div> -->
               <div class="select">
                   <label :for="filter.name" v-for="filter in filters" :key="filter.id"> <input type="checkbox" :name="filter.name" :id="filter.name" @change="toggleFilter(filter.id)"> {{ filter.name }} </label>
                   <!-- <label for="Américain"> <input type="checkbox" name="categorie" id="Américain"> Américain </label>
                   <label for="Asiatique"> <input type="checkbox" name="categorie" id="Asiatique"> Asiatique </label>
                   <label for="Burger"> <input type="checkbox" name="categorie" id="Burger"> Burger </label>
                   <label for="FastFood"> <input type="checkbox" name="categorie" id="FastFood"> Fast food </label>
                   <label for="Indien"> <input type="checkbox" name="categorie" id="Indien"> Indien </label>
                   <label for="Italien"> <input type="checkbox" name="categorie" id="Italien"> Italien </label>
                   <label for="Pâtes"> <input type="checkbox" name="categorie" id="Pâtes"> Pâtes </label>
                   <label for="Pizza"> <input type="checkbox" name="categorie" id="Pizza"> Pizza </label>
                   <label for="Turc"> <input type="checkbox" name="categorie" id="Turc"> Turc </label>
                   <label for="Vietnamien"> <input type="checkbox" name="categorie" id="Vietnamien"> Vietnamien </label>
                   <label for="Wrap"> <input type="checkbox" name="categorie" id="Wrap"> Wrap </label> -->
               </div>
               <!-- <div class="select">
                   <label for="5%"> <input type="checkbox" name="offre" id="5%"> -5% </label>
                   <label for="10%"> <input type="checkbox" name="offre" id="10%"> -10% </label>
                   <label for="15%"> <input type="checkbox" name="offre" id="15%"> -15% </label>
                   <label for="20%"> <input type="checkbox" name="offre" id="20%"> -20% </label>
               </div> -->
               <button :class="{'search--button': true, 'second__color': $store.getters.getApi == 'prisma'}"> Rechercher </button>
            </div>
            <div class="all">
                <div :class="{'title': true, 'hide': openRestaurantBool}">Top restaurants</div>
                <div class="block">
                    <div :class="{'fade': true, 'hide': openRestaurantBool}"></div>
                    <div :class="{'fade2': true, 'hide': openRestaurantBool}"></div>
                    <div :class="{'list list__restaurant': true, 'loading': loadingRestaurants, 'full__screen': openRestaurantBool}">
                        <cardRestaurant 
                            class="loading"
                            v-for="(item, index) in loadingRestaurantsTab"
                            :key="index"
                        />
                        <cardRestaurant 
                            v-for="(restaurant, index) in listRestaurants"
                            :restaurant="restaurant"
                            :key="index"
                            :index="index"
                            :basketShow="basketShow"
                            :img="'/assets/img/restaurants/' + restaurant.name.replaceAll(' ', '_').replaceAll('\'', '_') + '.png'"
                            @setScroll="setScroll"
                            @addItem="addItem"
                            @addMenu="addMenu"
                        />
                    </div>
                </div>
                <div class="title">Plats aléatoires</div>
                <div class="block">
                    <div class="fade"></div>
                    <div class="fade2"></div>
                    <div :class="{'list list__plat': true, 'loading': loadingItems}">
                        <cardItem 
                            class="loading"
                            v-for="(item, index) in loadingItemsTab"
                            :key="index"
                        />
                        <cardItem 
                            v-for="(item, index) in listItems"
                            :key="index"
                            :item="item"
                            @addItem="addItem"
                        />
                    </div>
                </div>
                <div class="title">Menus aléatoires</div>
                <div class="block">
                    <div class="fade"></div>
                    <div class="fade2"></div>
                    <div :class="{'list list__menu': true, 'loading': loadingMenus}">
                        <cardMenu
                            class="loading"
                            v-for="(item, index) in loadingMenusTab"
                            :key="index"
                        />
                        <cardMenu
                            v-for="(menu, index) in listMenus"
                            :key="index"
                            :menu="menu"
                            @addMenu="addMenu"
                        />
                    </div>
                </div>
            </div>
            <basket
                :basketList="basketList"
                @deleteItem="deleteItem"
                />
        </div>
        <Footer/>
    </div>
</template>

<script>
import axios from 'axios';
import store from "../store";
import $ from "jquery";
import homeNav from '@/components/homeNav.vue'
import cardItem from '@/components/cardItem.vue'
import cardRestaurant from '@/components/cardRestaurant.vue'
import cardMenu from '@/components/cardMenu.vue'
import Footer from '@/components/footer.vue'
import Basket from '../components/basket.vue';

export default {
    name: 'Home',
    components: {
        homeNav,
        cardItem,
        cardRestaurant,
        cardMenu,
        Footer,
        Basket
    },
    data() {
        return {
            pos: {
                top: 0, 
                left: 0,
                x: 0, 
                y: 0 
            },
            ele: null,
            search: null,
            select__restaurant: 0,
            select__offer: 0,
            scroll: false,
            restaurants: [],
            loadingRestaurants: false,
            items: [],
            loadingItems: false,
            menus: [],   
            loadingMenus: false,
            openRestaurantBool: false,
            basketList: [],
            filters: [],
            filtersSelected: [],
            loadingFilters: false
        }
    },
    computed: {
        loadingRestaurantsTab() {
            if (this.loadingRestaurants) {
                return [ 0, 1, 2, 3]
            } else {
                return false
            }
        },
        loadingItemsTab() {
            if (this.loadingItems) {
                return [ 0, 1, 2, 3, 4, 5, 6]
            } else {
                return false
            }
        },
        loadingMenusTab() {
            if (this.loadingMenus) {
                return [ 0, 1, 2]
            } else {
                return false
            }
        },
        basketShow() {
            if (this.basketList.length > 0) {
                return true;
            } else {
                return false;
            }
        },
        listRestaurants() {
            if (this.filtersSelected.length > 0) {
                let restaurantsToReturn = [];
                this.restaurants.forEach(el => {
                    if(this.filtersSelected.find(element => el.filters[0].id == element)) {
                        restaurantsToReturn.push(el)
                    }
                })
                return restaurantsToReturn;
            }
            return this.restaurants
        },
        listMenus() {
            let menusToReturnFiltered = [];
            if (this.filtersSelected.length > 0) {
                menusToReturnFiltered = [];
                this.menus.forEach(el => {
                    if(this.filtersSelected.find(element => el.filters[0].id == element)) {
                        menusToReturnFiltered.push(el)
                    }
                })
            } else {
                menusToReturnFiltered = this.menus
            }

            if (menusToReturnFiltered.length > 5) {
                let number1 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                let number2 = 0
                let number3 = 0
                let number4 = 0
                let number5 = 0

                do{
                    number2 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                }while(number1 == number2)
                do{
                    number3 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                }while(number2 == number3 || number1 == number3)
                do{
                    number4 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                }while(number3 == number4 || number2 == number4 || number1 == number4)
                do{
                    number5 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                }while(number4 == number5 || number3 == number5 || number2 == number5 || number1 == number5)

                console.log(number1 + ' ' + number2 + ' ' + number3 + ' ' + number4 + ' ' + number5);

                let menusToReturn = []
                menusToReturn.push(menusToReturnFiltered[number1])
                menusToReturn.push(menusToReturnFiltered[number2])
                menusToReturn.push(menusToReturnFiltered[number3])
                menusToReturn.push(menusToReturnFiltered[number4])
                menusToReturn.push(menusToReturnFiltered[number5])
                return menusToReturn
            } else {
                if (menusToReturnFiltered.length > 1) {
                    let menusToReturn = []
                    let number1 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                    menusToReturn.push(menusToReturnFiltered[number1])

                    let number2 = 0
                    let number3 = 0
                    let number4 = 0
                    let number5 = 0

                    do{
                        number2 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                    }while(number1 == number2)
                    menusToReturn.push(menusToReturnFiltered[number2])


                    if (menusToReturnFiltered.length > 2) {
                        do{
                            number3 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                        }while(number2 == number3 || number1 == number3)
                        menusToReturn.push(menusToReturnFiltered[number3])
                        
                        if (menusToReturnFiltered.length > 3) {
                            do{
                                number4 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                            }while(number3 == number4 || number2 == number4 || number1 == number4)   
                            menusToReturn.push(menusToReturnFiltered[number4])

                            if (menusToReturnFiltered.length > 4) {
                                do{
                                    number5 = Math.floor(Math.random() * Math.floor(menusToReturnFiltered.length));
                                }while(number4 == number5 || number3 == number5 || number2 == number5 || number1 == number5)
                                menusToReturn.push(menusToReturnFiltered[number5])
                            }
                        }
                    }
                    return menusToReturn
                } else {
                    return menusToReturnFiltered
                }
            }

        },
        listItems() {
            let itemsToReturnFiltered = [];
            if (this.filtersSelected.length > 0) {
                itemsToReturnFiltered = [];
                this.items.forEach(el => {
                    if(this.filtersSelected.find(element => el.filters[0].id == element)) {
                        itemsToReturnFiltered.push(el)
                    }
                })
            } else {
                itemsToReturnFiltered = this.items
            }


            if (itemsToReturnFiltered.length > 5) {
                let number1 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                let number2 = 0
                let number3 = 0
                let number4 = 0
                let number5 = 0

                do{
                    number2 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                }while(number1 == number2)
                do{
                    number3 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                }while(number2 == number3 || number1 == number3)
                do{
                    number4 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                }while(number3 == number4 || number2 == number4 || number1 == number4)
                do{
                    number5 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                }while(number4 == number5 || number3 == number5 || number2 == number5 || number1 == number5)

                console.log(number1 + ' ' + number2 + ' ' + number3 + ' ' + number4 + ' ' + number5);

                let itemsToReturn = []
                itemsToReturn.push(itemsToReturnFiltered[number1])
                itemsToReturn.push(itemsToReturnFiltered[number2])
                itemsToReturn.push(itemsToReturnFiltered[number3])
                itemsToReturn.push(itemsToReturnFiltered[number4])
                itemsToReturn.push(itemsToReturnFiltered[number5])
                return itemsToReturn
            } else {
                if (itemsToReturnFiltered.length > 1) {
                    let itemsToReturn = []
                    let number1 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                    itemsToReturn.push(itemsToReturnFiltered[number1])

                    let number2 = 0
                    let number3 = 0
                    let number4 = 0
                    let number5 = 0

                    do{
                        number2 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                    }while(number1 == number2)
                    itemsToReturn.push(itemsToReturnFiltered[number2])


                    if (itemsToReturnFiltered.length > 2) {
                        do{
                            number3 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                        }while(number2 == number3 || number1 == number3)
                        itemsToReturn.push(itemsToReturnFiltered[number3])
                        
                        if (itemsToReturnFiltered.length > 3) {
                            do{
                                number4 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                            }while(number3 == number4 || number2 == number4 || number1 == number4)   
                            itemsToReturn.push(itemsToReturnFiltered[number4])

                            if (itemsToReturnFiltered.length > 4) {
                                do{
                                    number5 = Math.floor(Math.random() * Math.floor(itemsToReturnFiltered.length));
                                }while(number4 == number5 || number3 == number5 || number2 == number5 || number1 == number5)
                                itemsToReturn.push(itemsToReturnFiltered[number5])
                            }
                        }
                    }
                    return itemsToReturn
                } else {
                    return itemsToReturnFiltered
                }
            }
        }
    },
    methods: {
        clickLogin() {
            this.$emit('clickLogin');
        },
        clickSignup() {
            this.$emit('clickSignup');
        },
        changeApi(newApi) {
            store.commit('changeApi', newApi);
            
            this.restaurants = [];
            this.items = [];

            this.getRestaurants();
            this.getItems();
            this.getMenus();
            this.getFilters();
        },
        mouseDownHandler(ele, pos) {
            pos = {
                left: ele.scrollLeft,
                top: ele.scrollTop,
                x: this.event.clientX,
                y: this.event.clientY,
            };

            ele.style.cursor = 'grabbing';
            ele.style.userSelect = 'none';

            document.addEventListener('mousemove', this.mouseMoveHandler(ele, pos));   
            document.addEventListener('mouseup', this.mouseUpHandler(ele));
        },
        mouseMoveHandler(ele, pos) {
            const dx = this.event.clientX - pos.x;
            const dy = this.event.clientY - pos.y;

            ele.scrollTop = pos.top - dy;
            ele.scrollLeft = pos.left - dx;
        },
        mouseUpHandler(ele) {
            ele.style.cursor = 'grab';
            ele.style.removeProperty('user-select');

            document.removeEventListener('mousemove', this.mouseMoveHandler);
            document.removeEventListener('mouseup', this.mouseUpHandler);
        },
        openRestaurant(id) {
            console.log(id);
        },
        getRestaurants() {
            this.loadingRestaurants = true;
            if (this.$store.getters.getApi == 'apiplatform') {
                axios({
                    method: 'get',
                    url: process.env.VUE_APP_API_URL + '/restaurants'
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'apiplatform') {
                        this.loadingRestaurants = false;
                        this.restaurants = data.data['hydra:member'];
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            } else {
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_PRISMA_URL,
                    data: {
                        query: `
                            query {
                                restaurants {
                                    id
                                    name
                                    description
                                    filters {
                                        id
                                        name
                                    }
                                }
                            }`
                    }
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'prisma') {
                        this.loadingRestaurants = false;
                        this.restaurants = data.data.data.restaurants;
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            }
        },
        getItems() {
            this.loadingItems = true;
            if (this.$store.getters.getApi == 'apiplatform') {
                axios({
                    method: 'get',
                    url: process.env.VUE_APP_API_URL + '/items'
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'apiplatform') {
                        this.loadingItems = false;
                        this.items = data.data['hydra:member'];
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            } else {
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_PRISMA_URL,
                    data: {
                        query: `
                            query {
                                items {
                                    id
                                    title   
                                    price
                                    restaurants {
                                        name
                                    }
                                    filters {  
                                        id
                                        name
                                    }
                                }
                            }`
                    }
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'prisma') {
                        this.loadingItems = false;
                        this.items = data.data.data.items;
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            }
        },
        getMenus() {
            this.loadingMenus = true;
            if (this.$store.getters.getApi == 'apiplatform') {
                axios({
                    method: 'get',
                    url: process.env.VUE_APP_API_URL + '/menus'
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'apiplatform') {
                        this.loadingMenus = false;
                        this.menus = data.data['hydra:member'];
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            } else {
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_PRISMA_URL,
                    data: {
                        query: `
                            query {
                                menus {
                                    id
                                    title
                                    price
                                    restaurants {
                                        id
                                        name
                                    }
                                    filters {
                                        id
                                        name
                                    }
                                }
                            }`
                    }
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'prisma') {
                        this.loadingMenus = false;
                        this.menus = data.data.data.menus;
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            }
        },
        getFilters() {
            this.loadingFilters = true;
            if (this.$store.getters.getApi == 'apiplatform') {
                this.loadingFilters = false;
                this.filters = []
            } else {
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_PRISMA_URL,
                    data: {
                        query: `
                            query {
                                filters
                                {
                                    id
                                    name
                                }
                            }`
                    }
                })
                .then((data) => {
                    if (this.$store.getters.getApi == 'prisma') {
                        this.loadingFilters = false;
                        this.filters = data.data.data.filters;
                    }
                })
                .catch((erreur) => {
                    console.log(erreur);
                });
            }
        },
        toggleFilter(idFilter) {
            if (this.filtersSelected.find(element => idFilter == element)) {
                for(var i = 0; i < this.filtersSelected.length; i++){ 
                    if (this.filtersSelected[i] === idFilter) { 
                        this.filtersSelected.splice(i, 1); 
                    }
                }
            } else {
                this.filtersSelected.push(idFilter);
            }
        },
        setScroll(state, index) {
            if (state == 'block') {

                $('.list__restaurant').animate({scrollLeft: (655 * index) + 'px' }, 250);
                // $('/list__restaurant').hide()
                setTimeout(() => {
                    this.scroll = true;
                    this.openRestaurantBool = true;
                }, 300);

            } else if (state == 'reactive') {
                this.scroll = false;
                this.openRestaurantBool = false;
            } else {
                this.scroll = state;
            }
        },
        addItem(item) {
            item = JSON.parse(JSON.stringify(item))
            item.id = Date.now()
            item.type = "item"
            this.basketList.push(item);
        },
        addMenu(item) {
            item = JSON.parse(JSON.stringify(item))
            item.id = Date.now()
            item.type = "menu"
            this.basketList.push(item);
        },
        deleteItem(item) {
            for( var i = 0; i < this.basketList.length; i++){ 
                if ( this.basketList[i].id === item.id) { 
                    this.basketList.splice(i, 1); 
                }
            }
        },
    },
    mounted() {
        var body = document.getElementsByClassName('body')[0];


        body.addEventListener('scroll', () => {
            // if (body.innerHeight < 1080) {
                if (body.scrollTop > 0) {
                    this.setScroll(true);
                } else {
                    this.setScroll(false);
                }
            // }
        })

        this.getRestaurants();
        this.getItems();
        this.getMenus();
        this.getFilters();
    }
}
</script>
