<template>
    <div :class="{'basket': true, 'hide': basketList.length == 0, 'full__screen__basket': confirmed}">
        <div :class="{'block': true, 'second__color': $store.getters.getApi == 'prisma'}">
            <transition-group name="basket-transition">
                <cardBasket
                    v-for="item in basketList"
                    :key="item.id"
                    :item="item"
                    @deleteItem="deleteItem"
                    />
            </transition-group>
            <div :class="{'confirm': true, 'second__color': $store.getters.getApi == 'prisma'}" @click="confirmBasket">
                <span> Confirmer </span>
                <span> Total : {{ total }}€ </span>
            </div>
        </div>
    </div>
</template>

<script>
import cardBasket from '@/components/cardBasket.vue'

export default {
    name: "basket",
    props: ['basketList'],
    components: {
        cardBasket
    },
    data() {
        return {
            confirmed: false
        }
    },
    computed: {
        total() {
            let toReturn = 0;
            this.basketList.forEach(element => {
                toReturn += element.price;
            });
            return toReturn
        }
    },
    methods: {
        deleteItem(item) {
            this.$emit('deleteItem', item);
        },
        confirmBasket() {
            this.confirmed = !this.confirmed;
        }
    }
}
</script>

<style>

</style>