<template>
    <div :class="{'card__restaurant': true, 'full__screen__restaurant': fullScreenRestaurant, 'basket__open': basketShow}">
        <div class="left">
            <img @click="openRestaurant()" :src="'/assets/img/restaurants/' + restaurant.name.replaceAll(' ', '_').replaceAll('\'', '_') + '.png'" alt="Image card" v-if="restaurant && restaurant.name">
            <div class="circle"></div>
        </div>
        <div class="right">
            <div class="title">
                <span v-if="restaurant"> {{ restaurant.name }} </span>                
            </div>
            <div class="description">
                <span v-if="restaurant"> {{ restaurant.description }} </span>
            </div>
        </div>
        <div class="list__restaurants"> 
            <div class="list__menus">
                <div>
                    <cardMenu
                        v-for="menu in menus"
                        :key="menu['@id']"
                        :menu="menu"
                        @addMenu="addMenu"
                    />
                </div>
            </div>
            <div class="list__items">
                <div>
                    <cardItem
                        class="loading"
                        v-for="(item, index) in loadingItemsTab"
                        :key="index"
                    />
                    <cardItem 
                        v-for="item in items"
                        :key="item['@id']"
                        :item="item"
                        @addItem="addItem"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import cardItem from '@/components/cardItem.vue'
import cardMenu from '@/components/cardMenu.vue'

export default {
    name: "CardRestaurant",
    props: ['restaurant', 'description', 'index', 'basketShow'],
    components: {
        cardItem,
        cardMenu
    },
    computed: {
        loadingItemsTab() {
            if (this.loadingItems) {
                return [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
            } else {
                return false
            }
        }
    },
    data() {
        return {
            fullScreenRestaurant: false,
            loadingItems: true,
            items: [],
            menus: []
        }
    }, 
    methods: {
        openRestaurant() {             
            if (!this.fullScreenRestaurant) {
                this.$emit('setScroll', 'block', this.index);
                setTimeout(() => {
                    this.fullScreenRestaurant = true;
                }, 300);
                if (this.$store.getters.getApi == 'apiplatform') {
                    axios({
                        method: 'get',
                        url: process.env.VUE_APP_API_URL + this.restaurant['@id']
                    })
                    .then((data) => {
                        console.log(data);
                    })
                    .catch((erreur) => {
                        console.log(erreur);
                    });
                } else {                    
                    axios({
                        method: 'post',
                        url: process.env.VUE_APP_PRISMA_URL,
                        data: {
                            query: `
                                query {
                                    restaurant(
                                        where: {
                                        id: "${this.restaurant.id}"
                                        }
                                    ) 
                                    {
                                        items {
                                            id
                                            title
                                            price
                                            restaurants {
                                                name
                                            }
                                        }
                                        menus {
                                            id
                                            title
                                            price 
                                            restaurants {
                                                name
                                            }
                                        }
                                    }
                                }`
                        }
                    })
                    .then((data) => {
                        if (this.$store.getters.getApi == 'prisma') {
                            console.log(data);
                            this.loadingItems = false;
                            this.items = data.data.data.restaurant.items;
                            this.menus = data.data.data.restaurant.menus;
                        }
                    })
                    .catch((erreur) => {
                        console.log(erreur);
                    });

                    
                }
            } else {
                this.fullScreenRestaurant = false;
                this.$emit('setScroll', 'reactive');
            }
        },
        addItem(item) {
            this.$emit('addItem', item)
        },
        addMenu(menu) {
            this.$emit('addMenu', menu)
        }
    }
}
</script>