<template>
    <div class="card__menu">
        <div class="left">
            <img @click="addMenu(menu)" :src="'/assets/img/menus/' + menu.title.replaceAll(' ', '_').replaceAll('\'', '_') + '.png'" alt="Image card" v-if="menu && menu.title">
            <div class="circle"></div>
        </div>
        <div class="right">
            <div class="title">
                <span v-if="menu"> {{ menu.title }} </span>
            </div>
            <div class="description">
                <span v-if="menu && menu.restaurants && menu.restaurants.length > 0"> {{ menu.restaurants[0].name }} </span>
                <span v-if="menu && menu.restaurantName"> {{ menu.restaurantName }} </span>
            </div>
        </div>
        <div v-if="menu" :class="{'price': true, 'second__color': $store.getters.getApi == 'prisma'}"> 
            {{ menu.price }}€
        </div>
    </div>
</template>

<script>

export default {
    name: "CardMenu",
    props: ['menu'],
    computed: {
        
    },
    data() {
        return {
            
        }
    }, 
    methods: {
        addMenu(menu) {
            this.$emit('addMenu', menu)
        }
    }
}
</script>