<template>
    <div :class="{'card__basket': true}">
        <div class="left" @click="deleteItem">
            <i class="fas fa-times cancel"></i>
            <img v-if="item.type == 'item'" :src="'/assets/img/plats/' + item.title.replaceAll(' ', '_').replaceAll('\'', '_') + '.png'" alt="Image card">
            <img v-if="item.type == 'menu'" :src="'/assets/img/menus/' + item.title.replaceAll(' ', '_').replaceAll('\'', '_') + '.png'" alt="Image card">
            <div class="circle"></div>
        </div>
        <div class="right">
            <div class="title">
                {{ item.title }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CardBasket",
    props: ['item'],
    data() {
        return {
        }
    }, 
    methods: {
        deleteItem() {
            this.$emit('deleteItem', this.item);
        }
    }
}
</script>