<template>
    <div :class="{'card__item': true}">
        <div class="left">
            <img @click="clickItem(item)" :src="'/assets/img/plats/' + item.title.replaceAll(' ', '_').replaceAll('\'', '_') + '.png'" alt="Image card" v-if="item && item.title">
            <div class="circle"></div>
        </div>
        <div class="right">
            <div class="title">
                <span v-if="item"> {{ item.title }} </span>
            </div>
            <div class="restaurant">
                <span v-if="item && item.restaurants && item.restaurants.length > 0"> {{ item.restaurants[0].name }} </span>
                <span v-if="item && item.restaurantName"> {{ item.restaurantName }} </span>
            </div>
        </div>
        <div v-if="item" :class="{'price': true, 'second__color': $store.getters.getApi == 'prisma'}"> 
            {{ item.price }}€
        </div>
    </div>
</template>

<script>
export default {
    name: "CardItem",
    props: ['item'],
    data() {
        return {
            fullScreenRestaurant: false
        }
    }, 
    methods: {
        clickItem(item) {            
            this.$emit('addItem', item)
        }
    }
}
</script>