<template  >
  <div v-if="type == 'textarea'">
    <textarea :name="name" @input="setValue"></textarea>
  </div>
  <div v-else-if="type == 'select'">
    <select :name="name" @input="setValue">
      <slot></slot>
    </select>
  </div>
  <div v-else>
    <input :type="type" :name="name" @input="setValue" />
  </div>
</template>

<script>
export default {
  name: "Field",
  props: {
    type: {
      required: true,
      type: String,
    },
    name: {
      required: true,
      type: String,
    },
    component: {
      //required: false,
      type: String,
    },
    options: {
      //required: false,
      type: Array,
      default: () => [],
    },
  },
  methods: {
    setValue: function (event) {
      var keys = Object.keys(this.$parent.initialValue);
      for (let k of keys) {
        if (k == this.$props.name) {
          this.$parent.initialValue[k] = event.target.value;
        }
      }
    },
  },
  computed: {
    // options() {
    //     return [];
    // }
  },
};
</script>
