<template>
    <div :class="{'displayLittle': scroll || basketShow, 'home__nav': true, 'second__color': api}">
        <div class="logo">eat</div>
        <div class="menu">
            <div v-if="$store.getters.getRole == 'ADMIN'">
                <router-link to="/admin"> Admin </router-link>
            </div>
        </div>
        <div class="connexion__block">
            <input type="checkbox" name="api" id="api" v-model="api" @click="changeApi">            
            <span @click="clickSignup" v-if="$store.getters.getToken == ''">Inscription</span>
            <span v-else @click="changeInfoVisible"> {{ $store.getters.getUsername }} </span>
            <span class="connexion" @click="clickLogin" v-if="$store.getters.getToken == ''">Connexion</span>
            <span class="connexion" @click="clickDisconnect" v-else> Déconnexion </span>
        </div>
        <div class="text"> Bienvenue sur <span> eat </span> </div>
        <div class="tache1 parallax" data-value="-10"></div>
        <div class="tache2 parallax" data-value="10"></div>
        <infos v-if="infoVisible"/>
    </div>
</template>

<script>
import store from "../store";
import infos from "./modals/infos";

export default {
    data() {
        return {
            api: false,
            infoVisible: false
        }
    },
    components: {
        infos
    },
    props: ['scroll', 'basketShow'],
    methods: {
        clickLogin() {
            this.$emit("clickLogin");
        },
        clickSignup() {
            this.$emit("clickSignup");
        },
        clickDisconnect() {
            this.infoVisible = false;
            store.commit('changeUsername', '');
            store.commit('changeToken', '');
            store.commit('changeRole', '');
        },
        changeApi() {
            if (this.api) {
                this.$emit("changeApi", 'apiplatform');
            } else {
                this.$emit("changeApi", 'prisma');
            }
        },
        changeInfoVisible() {
            this.infoVisible = !this.infoVisible;
        }
    },    
    created() {
        if(this.$store.getters.getApi == 'prisma') this.api = true
    }
}
</script>