<template>
  <div>
    <form>
      <slot :handleSubmit="handleSubmit">  </slot>
    </form>
  </div>
</template>

<script>
export default {
  name: "Vuemik",
  props: {
    initialValue: {
      required: true,
      type: Object,
    },
    onSubmit: {
      required: true,
      type: Function,
    },
  },
  methods: {
        handleSubmit() {
          this.$props.onSubmit()  
        },
    }
};
</script>

<style>
</style>
