<template>
    <div id="app">
        <transition name="modal">
            <modalSignin v-if="modalSigninVisible" @clickOutside="toggleLogin"/>
            <modalSignup v-if="modalSignupVisible" @clickOutside="toggleSignup" @signupFinished="signupFinished"/>
        </transition>
        <router-view @clickLogin="toggleLogin" @clickSignup="toggleSignup"/>
    </div>
</template>

<script>
import "./assets/scss/styles.scss";
import modalSignin from '@/components/modals/signin.vue'
import modalSignup from '@/components/modals/signup.vue'

export default {
    name: "app",
    components: {
        modalSignin,
        modalSignup
    },
    data() {
        return {
            modalSigninVisible: false,
            modalSignupVisible: false
        }
    },
    methods: {
        toggleLogin() {
            this.modalSigninVisible = !this.modalSigninVisible;
        },
        toggleSignup() {
            this.modalSignupVisible = !this.modalSignupVisible;
        },
        signupFinished() {
            this.modalSignupVisible = false;
            setTimeout(() => {
                this.modalSigninVisible = true;
            }, 500);
        },
        parallax(e) {
            document.querySelectorAll(".parallax").forEach(function(move){
                var moving_value = move.getAttribute("data-value");
                var x  = (e.clientX * moving_value) / 250;
                var y = (e.clientY * moving_value) / 250;
                move.style.transform = "translateX("+ x +"px) translateY(" + y + "px)";
            });
        },
    },
    mounted() {
        document.addEventListener("mousemove", this.parallax);
    }
}
</script>